.home header {
   position: relative;
   height: 500px;
   background-image: url(../../assets/imgs/home-banner.jpg);
   background-size: cover;
   background-position: center;
   opacity: 0.9;
}

.home main .links {
   display: flex;
   gap: 1em;
   padding: 1em;
   background: linear-gradient(180deg, var(--color-olive-light) 0%, var(--color-blue-dark) 50%, white);

}

.home main .links .link {
   aspect-ratio: 16/7;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   flex-basis: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: center;


}

.home main .links a {
   padding: 0.25em;
   font-weight: 700;
   text-align: center;
   font-size: 1.25em;
   -webkit-text-stroke: 1px var(--color-purple-dark);
   color: white;

}

.home main .links a:hover {

   color: var(--color-gold);

}

.home main .links .link:first-child {
   background-image: url('../../assets/imgs/gefilta-fish.jpg');
}

.home main .links .link:last-child {
   background-image: url('../../assets/imgs/train.jpg');
}

.home main .map {
   padding: 1em;
   background: linear-gradient(180deg, white 0%, var(--color-blue-dark)50%, var(--color-olive-light));

}

.home main .map h2 {
   text-align: center;
   background: linear-gradient(180deg, var(--color-blue-dark) 0%, var(--color-olive-light) 50%, white);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 2em;
   font-weight: 600;
}

.tefilat-haderech {
   color: black;
   padding: 1em;
   text-align: right;
}
.tefilat-haderech h1{
font-size: 2em;
font-weight: 600;
text-align: center;
}