.login {
   display: grid;
   place-items: center;
   height: 100%;
   background: var(--color2);
}

.login form {
   padding: 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
   background: var(--color3);
}

.login form input {
   padding: 0.25em;
}