.nav {
   background: var(--color-olive-light);
   padding: 1em;
   display: flex;
   gap: 0.5em;
   justify-content: space-around;
}


.page header {
   position: relative;
}

.page header .btn {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 0em 1em;
}
.page.home header .btn {

   top: 75%;

}