:root {
   --body-fs: 1.125rem;
   /* COLORS */
   --html-theme: light;
   --body-color: #eee;
   --color-olive-light: #D2292D;
   --color-olive-dark: white;
   --color-blue-light: #282828;
   --color-blue-dark: #0D3580;
   --color-purple-light: #181818;
   --color-purple-dark: #282828;
   --color-gold: #1761B0;
}